* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}
html {
  background: #FAFAFA;
  font-family: sans-serif;
}
#wrapper {
  width: 75%;
  margin: 0 auto;
}
h1{
  text-align: center;
}
/* Makin' Images a bit sexier */
img {
  width: 100%;
  height: auto;
  border: 1.618px solid #3366CC;
  border-radius: 16.18px; 
}
.photo{
  width: 33.33333333%; /* three per row */
  position: relative;
  float: left;
  padding: 1.618% 1.66666666666667%; /* 10%/ 6 = 1.6666666667% */
}
.avatar{
  position: absolute;
  top: 9.708%;
  right: 9.708%;
  margin: 0;
  width: 16.18%; /* Height should still be auto */
  z-index: 2;
}
.user-name {
position: absolute;
bottom: 20px;
left: 55px;
height: 50px;
width: 60%;
overflow: hidden;
padding: 15px 20px;
background: white;
z-index: 1;
border: 1px solid blue;
display: none;
}
.heart{
  position: absolute;
  top: 9.708%;
  left: 9.708%;
  padding: 5px;
  background: white;
  border: 1px solid blue;
  border-radius: 19.416%;
}
/* FOOTER STYLES */
footer {
  clear: both;
}