* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}
html {
  background: #FAFAFA;
  font-family: sans-serif;
}
#wrapper {
  width: 75%;
  margin: 0 auto;
}

/* Makin' Images a bit sexier */
img {
  margin: 1.618%;
  border: 1.618px solid #3366CC;
  border-radius: 16.18px; 
}

/* FOOTER STYLES */
footer {
  
}